- All generated code should be in the `packages` folder
- All generated code must be **Typescript**
- build artifacts should be in the `dist` folder
- the `dist` folder should be ignored in the git repo
- use es6 arrow functions and async/await everywhere